/* css working base */

html{
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    overflow-wrap: break-word;
}

*,
*::before,
*::after{
    outline: none;

    min-width: 0;
    min-height: 0;

    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-weight: normal;
    text-decoration: none;
}

body{
    font-size: 1.6rem;
    line-height: 1;
}

ol,
ul,
li{
    list-style: none;
}

img{
    border-style: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

a,
a:visited,
a:active{
    color: inherit;
}

pre,
code,
kbd,
samp {
    font-family: monospace;
    font-size: 1em;
}

pre{
    white-space: pre-wrap;
    line-height: normal;
    overflow: auto;
}

template{
    display: none;
}

.none{
    display: none !important;
}

.hidden{
    visibility: hidden !important;
}

/* input style corrections */

button,
input,
select,
textarea {
    border: none;
    background-color: transparent;

    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: none;
    vertical-align: middle;
}

[type="search"] {
    -webkit-appearance: textfield;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

/* no-scroll-bar class */

.ns::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.ns {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}